@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-app: "Nunito", sans-serif;
}

.appNav-animation{
  animation: slideTop .8s ease-out;
}

.nameSocial-animation{
  animation: slideLeft .8s ease-out;
}

.aboutMe-animation{
  animation: blinkAndTopSlice .8s linear;
}

.zoomIn-animation{
  animation: zoomIn .3s linear;
}

.loading-animation{
  animation: auth-loading 1s linear infinite;
}

.note-blink{
  animation: blink .8s linear;
}

.indication-tag-animation{
  animation: frizz 1s ease-in-out infinite;
}
.setting-left-slide{
  animation: settingLeftSlide .5s linear;
}

.loading-spin{
  animation: spin .5s linear infinite;
}

.notification-animation{
  animation: slideDown .8s linear;
}

@keyframes slideTop{
  0%{
    transform: translateY(-40px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideLeft{
  0%{ 
    transform: translateX(-80px);
    opacity: 0;
  }
  100%{ 
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes blinkAndTopSlice{
  0%{
    transform: translateY(30px);
    overflow: hidden;
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    overflow: hidden;
    opacity: 1;
  }
}

@keyframes zoomIn{
  0%{
    transform: scale(.6);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes auth-loading{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes blink{
  0%{
    transform: scale(.8);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes frizz {
  0% {
    transform: scale(1) rotate(0deg) translateY(0);
  }
  15% {
    transform: scale(1.05) rotate(1deg) translateY(-2px);
  }
  30% {
    transform: scale(1.03) rotate(-1deg) translateY(0.5px);
  }
  50% {
    transform: scale(1.04) rotate(0.5deg) translateY(-0.5px);
  }
  70% {
    transform: scale(1.02) rotate(-0.5deg) translateY(0.5px);
  }
  100% {
    transform: scale(1) rotate(0deg) translateY(0);
  }
}

@keyframes settingLeftSlide {
  0%{ 
    transform: translateX(-50px);
    opacity: 0;
  }
  100%{ 
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes spin{
  0%{ 
    transform: rotate(0deg);
  }
  100%{ 
    transform: rotate(360deg);
  }
}

@keyframes slideDown{
  0%{ 
    opacity: 0;
    transform: translateY(100px);
  }
  50%{ 
    opacity: .5;
    transform: translateY(-20px);
  }
  100%{ 
    opacity: 1;
    transform: translateY(0px);
  }
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3E3F46;
}

::-webkit-scrollbar-thumb {
  background-color: #D5D5D8;
  border-radius: 8px;
  border: 2px solid #3E3F46;
}
