@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-app: "Nunito", sans-serif;
}

.appNav-animation{
  animation: slideTop .8s ease-out;
}

.nameSocial-animation{
  animation: slideLeft .8s ease-out;
}

.aboutMe-animation{
  animation: blink .8s linear;
}

@keyframes slideTop{
  0%{
    transform: translateY(-40px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideLeft{
  0%{ 
    transform: translateX(-80px);
    opacity: 0;
  }
  100%{ 
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes blink{
  0%{
    transform: translateY(30px);
    overflow: hidden;
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    overflow: hidden;
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3E3F46;
}

::-webkit-scrollbar-thumb {
  background-color: #D5D5D8;
  border-radius: 8px;
  border: 2px solid #3E3F46;
}
